* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 1100px;
  padding: 40px 20px;
  text-align: center;
}

header h1 {
  font-weight: 200;
  color: hsl(229, 6%, 66%);
}

header h1 span {
  display: block;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

header p {
  margin-top: 15px;
  max-width: 500px;
  color: hsl(229, 6%, 66%);
  margin-inline: auto;
}

.card-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* ---- Card Styles ---- */
.card {
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 25px;
  text-align: left;
  max-width: 320px;
  position: relative;
  height: 220px;
}

.card img {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: auto;
}

.card h2 {
  color: hsl(234, 12%, 34%);
  margin-bottom: 10px;
}

.card p {
  color: hsl(229, 6%, 66%);
  font-size: 14px;
}

/* Border colors for each card */
.supervisor {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.team {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator {
  border-top: 4px solid hsl(212, 86%, 64%);
}

/* ---- Responsive (Mobile) ---- */
@media (max-width: 950px) {
  .card-grid {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
  }

  .middle {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .card {
    max-width: 100%;
    width:100%;
    text-align: center;
    height:auto;
    padding: 30px 25px 60px;
  }

  .card img {
    position: static;
    margin-top: 20px;
  }
  header h1{
    font-size:1.7rem;
  }
  header p{
    font-size: 14px;
  }

}
